.button-event {
    transform: translateY(-20px);
    text-align: right;
    margin-right: 20px;
}
.event-card {
    transition: all .3s ease;
    height: 30rem;
}
.event-card:hover {
    transform: scale(1.03);
}