@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
  /* Colors  */
  --primary-color: #F08C00;
  --light-grey: #F9F9FA;
  --heavy-grey: #838993;

  /* Fonts  */
  --menu-font: 'Raleway';
}

*, *::before, *::after {
  font-family: var(--menu-font);
}
.second-nav {
  border-right: 2px solid gray;
  transition: all .3s ease;
}
.second-nav:hover {
  color: var(--primary-color);
}
.terms-link {
  border: none;
}
.social-icons {
  color: var(--light-grey);
  transition: all .3s ease;
}
.logo {
  z-index: 1000;
}
.footer {
  background-color: var(--light-grey);
}
.main-menu {
  transition: all .3s ease;
  font-family: var(--menu-font);
}
.main-menu:hover {
  color: var(--primary-color);
}
.address {
  color: var(--primary-color);
}
.home-content {
  height: 100%;
  width: 100%;
}
.bee-card-place {
  position: absolute;
  top: 5%;
  left: 15%;
}
.special-menu {
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  color: var(--primary-color);
}
.special-menu:hover {
  background-color: var(--primary-color);
  color: var(--light-grey);
}
.poly-news {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.industry-card {
  box-shadow: 1px 1px 12px 1px #888888
}
.hamburger {
  display: none;
}
.slider-menu {
  display: none;
}
.slider {
  display: none;
  transition: all 3s ease;
}
.bee-icon {
  position: absolute;
  right: 45%;
  top: 48%;
  cursor: pointer;
  transition: all .3s ease;
}
.event-shadow {
  box-shadow: 1px 1px 12px 1px #888888;
  padding: 1rem;
  border-radius: 1rem;
  width: 300px;
}
.headline {
  font-family: var(--menu-font);
  font-weight: 600;
}
.para {
  font-family: var(--menu-font);
  font-weight: 200;
}
@media only screen and (max-width: 800px) {
  .logo {
    z-index: 1000;
  }
  .hamburger {
    display: block;
    z-index: 999;
  }
  .hero {
    display: none;
  }
  .slider-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 800;
    transition: all 2s ease-in;
  }
  .slider {
    display: none;
  }
  .second-menu {
    font-size: 20px;
  }
}

/* React Markdown  */
blockquote::before {
  font-family: var(--menu-font);
  content: "“";
  font-size: 15rem;
  color: var(--heavy-grey);
  position: absolute;
  left: -4rem;
  top: -5rem;

}
blockquote {
  font-family: var(--menu-font);
  font-size: 1.6rem;
  color: var(--primary-color);
  position: relative;
  padding: 1rem;
}

h3 {
  border-left: 7px solid var(--primary-color);
  padding-left: 1rem;
  font-family: var(--menu-font);
  font-size: 1.6rem;
  margin: 1rem;
  font-weight: 900;
}

p {
  line-height: 2.3;
}
.search-button {
  border-bottom: 2px solid silver;
  outline: none;
}
.search-button:active {
  outline: none;
}
.transformed-headline {
  transform: translate(0, -10deg);
  background-color: var(--primary-color);
  color: white;
}

/* Map Styles */
.leaflet-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bee-icons {
  z-index: 600;
}