.industry-card {
    box-shadow: 1px 1px 12px 1px #888888;
    transition: all .3s ease;
}
.industry-card:hover {
    transform: scale(1.03);
}
.poly-news {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 9rem;
    width: 12em;
    margin-top: 1rem;
}
