.button-free {
    border-radius: 2rem;
    background-color: white;
    color: black;
    transition: all .3s ease;
    position: absolute;
    left: 53%;
    top: 35%;
    -webkit-box-shadow: 5px 10px 8px #888888;
    -moz-box-shadow: 5px 10px 8px #888888;
    box-shadow: 5px 10px 8px #888888;   
  }