.button-free {
    border-radius: 2rem;
    background-color: white;
    color: black;
    transition: all .3s ease;
    position: absolute;
    left: 53%;
    top: 35%;
    -webkit-box-shadow: 19px 18px 34px -14px rgba(0,0,0,0.6);
    -moz-box-shadow: 19px 18px 34px -14px rgba(0,0,0,0.6);
    box-shadow: 19px 18px 34px -14px rgba(0,0,0,0.6);   
  }