.button-free {
    border-radius: 2rem;
    display: inline;
    background-color: white;
    transition: all .3s ease;
    z-index: 10000;
    -webkit-box-shadow: 2px 3px 2px #888888;
    -moz-box-shadow: 2px 3px 2px #888888;
    box-shadow: 2px 3px 2px #888888;   
  }